<section class="form">
  <div class="container form-container">
    <h2 class="form__title">
      <span class="form__title-orange">Оперативно</span> поставим технику
    </h2>
    <form class="form__form" name="order">
      <label class="form__label">
        <input
          class="form__input"
          type="text"
          name="name"
          placeholder="Ваше имя"
        />
      </label>
      <label class="form__label">
        <input class="form__input" type="tel" placeholder="Ваш телефон*" />
      </label>
      <button class="form__button" type="submit">Заказать звонок</button>
      <label>
        <input class="form__checkbox" type="checkbox" name="polise" />
        <span class="form__text"
          >Я согласен с
          <span class="form__text-underlined">условиями обработки</span> и
          использования моих персональных данных</span
        >
      </label>
    </form>
  </div>
</section>
