<section class="hero__section">
  <div class="slide__backraund">
    <div class="container hero__container">
      <div class="hero__slide">
        <h1 class="hero__title">Аренда спецтехники Liebherr для любых задач</h1>
        <p class="hero__text">
          Мобильные, гусеничные и башенные краны LIEBHERR в аренду для любых
          задач и грузов. работаем по всей России
        </p>
        <button class="hero__button" type="button">Заказать звонок</button>
        <a class="hero__link link" href="#">Каталог техники</a>
      </div>
    </div>
    <div class="hero__"></div>
    <div class="hero__nav">
      <button class="hero__next" type="button">
        <svg width="10" height="20">
          <use href="./images/basic/hero/sprite.svg#prev"></use>
        </svg>
      </button>
      <button class="hero__prev" type="button">
        <svg width="10" height="20">
          <use href="./images/basic/hero/sprite.svg#next"></use>
        </svg>
      </button>
    </div>
    <div class="slide__number">
      <p class="slide__activ">01/<span class="slide__all">04</span></p>
    </div>
  </div>
</section>
