<section>
  <div class="container reliability__container">
    <h2 class="reliability__title">С нами надежно</h2>
    <div class="reliability__info">
      <ul class="reliability__list list">
        <li class="reliability__item">
          <svg class="reliability__ico" width="75" height="75">
            <use href="./images/basic/reliability/sprite.svg#clock"></use>
          </svg>
          <p class="reliability__desc">Поставка техники точно в срок</p>
        </li>
        <li class="reliability__item">
          <svg class="reliability__ico" width="80" height="75">
            <use href="./images/basic/reliability/sprite.svg#tools"></use>
          </svg>
          <p class="reliability__desc">Сопровождение спецтехники</p>
        </li>
        <li class="reliability__item">
          <svg class="reliability__ico" width="80" height="75">
            <use href="./images/basic/reliability/sprite.svg#engineer"></use>
          </svg>
          <p class="reliability__desc">Квалифицированнные специалисты</p>
        </li>
        <li class="reliability__item">
          <svg class="reliability__ico" width="90" height="74">
            <use href="./images/basic/reliability/sprite.svg#auto"></use>
          </svg>
          <p class="reliability__desc">
            Автопарк от ведущих мировых производителей
          </p>
        </li>
      </ul>
      <div>
        <p class="reliability__text">
          Компания Еврокран успешно работает на территории РФ с 2000 года.
          <br /><br />
          В нашем автопарке гусеничные и мобильные краны известного немецкого
          бренда.
          <br /><br />
          Среди них есть модели любой грузоподъемности, для погрузочных,
          монтажных, транспортировочных и других работ.
          <br /><br />
          Обращение в компанию гарантирует комплексный подход к решению
          поставленных задач. Получить больше информации можно у менеджеров
          Компании Еврокран.
        </p>
        <button class="reliability__button" type="button">
          Заказать звонок
        </button>
      </div>
    </div>
  </div>
  <div class="performed">
    <div>
      <img
        class="performed__img"
        src="./images/basic/reliability/desktop/line.png"
        alt="line"
        height="43"
        width="100%"
      />
    </div>
    <ul class="performed__list list">
      <li class="performed__item">
        <h2 class="performed__title">20</h2>
        <p class="performed__text">лет на рынке</p>
      </li>
      <li class="performed__item">
        <h2 class="performed__title">1 000+</h2>
        <p class="performed__text">выполненных проектов</p>
      </li>
      <li class="performed__item">
        <h2 class="performed__title">20+</h2>
        <p class="performed__text">единиц техники всегда в наличии</p>
      </li>
    </ul>
    <div>
      <img
        class="performed__img"
        src="./images/basic/reliability/desktop/line.png"
        alt="line"
        height="43"
        width="100%"
      />
    </div>
  </div>
</section>
